<br/><br/><br/>
<%= simple_form_for @place do |f| %>
    <%= f.input :name  %>
    <%= f.input :address  %>
    <%= f.input :phone_number  %>
    <%= f.input :contact_mail  %>
    <%= f.input :established_at  %>
    <%= f.input :description  %>
    <%= f.association :category, :include_blank => false  %>

	<%= f.fields_for :social_profile do |sf|%>
        <h3>Social Profile</h3>
        <%= sf.input :facebook  %>
        <%= sf.input :twitter  %>
        <%= sf.input :instagram  %>
        <%= sf.input :foursquare  %>
	<%end%>

	<%= f.button :submit%>
<% end %>