<% @places.each do |place| %>
	<br/>
	<li>
	<b>Name:</b>	<a href="<%= place_path(place) %>"><%= place.name %></a>
	<b>Address</b>	<%= place.address %>
	<b>Phone Number:</b>	<%= place.phone_number %>
	<b>Contact Mail:</b>	<%= place.contact_mail %>
	<b>Established at:</b> <%= place.established_at%>
	<b>Description:</b> <%= place.description %>
	<b>Category: </b> <%= place.category.name %>
	</li>
<%end%>
<br/>
<% if current_owner.present? %>
<%= link_to "Crate new place", new_place_path %>
<%end%>
<br/>
<br/>
<%= link_to "List Categories", categories_path %>
<br/>
<br/>